body {
  width: 100%;
  background-color: #efefef;
}

/* Header */
header {
  display: flex;
  align-items: center;
  flex-direction:column;
}

header img {
  width: 12em;
  border-radius: 50%;
  padding: 2em 0;
}

header h2,p{
    margin:0.3em;
}

/* CONTENT */

/* Social Media */
.content .top-content{
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin:1em;
}

.content .social-media svg{
    padding:0 1em;
    width: 2em;
    height: 2em;
    color: #3366cc;
}

.content .divider{
    color: #3366cc;
}